header {
  padding: 1em 0.5em;
  background-color: var(--header_back);
}

.title {
  text-align: center;
  color: var(--title_color);
}

.subtitle {
  text-align: center;
  color: var(--subtitle_back);
}

.legend {
  padding: 15px;
  border-radius: 6px;
  margin: 20px 100px;
  border-left: 9px solid #000286;
  background-color: var(--legend_back);
}

.btn-warning
{
  padding: 15px;
  margin: 20px 100px;
}

#map {
  min-width: 700px;
  min-height: 700px;
}

h1,
h2,
h3 {
  padding: 10px;
}

footer {
  margin-top: 30px;
  padding: 20px 0px;
  background: var(--footer_back);
  /* background-image: linear-gradient(to right, #001f91 0%, yellow  51%, #000286  100%);
    min-width: 100%;
    display: flex;
    flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-around; */
}
